$font-path: "./assets";

//Deeperst Possible Browser Support

// @font-face {
//   font-family: 'MyWebFont';
//   src: url('webfont.eot'); /* IE9 Compat Modes */
//   src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
//        url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
//        url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
// }

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

@font-face {
    font-family: "ailerons";
    src: url("#{$font-path}/Ailerons.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "codesaver";
    src: url("#{$font-path}/CodeSaver-Regular.otf") format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "hillonest";
    src: url("#{$font-path}/HillonestSignature.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

// $font-primary: 'Outback';
// $font-secondary: 'Oswald';