$time: 8s;
$color-gold: #80862d;
$gray-letters: #a5a5a5;

.underline{
    width: 50%;
    height: 2px;
    background-color: $gray-letters;
    margin: 1rem 0;
}

html{
    scroll-behavior: smooth;
    filter: brightness(120%);
}

body{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh auto 30vh;
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
    font-family: "ailerons";
    z-index: -20;
    overflow-x: hidden;

    header{
        img{
            position: fixed;
            top: 0;
            width: 100%;
            height: 100vh;
            filter: blur(3px);
            opacity: 0.8;
            z-index: -10;
            overflow: hidden;
            animation: blurEffect $time forwards;
        }

        @keyframes blurEffect{
            0%{
            filter: blur(15px);
            }
            75%{
                filter: blur(15px);
            }
            100%{
            filter: blur(0px);
            }
        }

        .home{
            position: relative;
            nav{
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: absolute;
                left: 0;
                height: 10vh;
                width: 100%;
                padding: 0 3.5rem;
                font-size: clamp(0.9rem, calc(0.9rem + 1vw), 1.5rem);
                background-color: transparent;
                color: gray;
                z-index: 100;
                transition: 0.5s;
                animation: navbarEffect 10s forwards;
                @keyframes navbarEffect{
                    0%{
                        opacity: 0;
                    }
                    85%{
                        opacity: 0;
                    }
                    100%{
                    }
                }
                @media screen and (max-width: 30em) {
                    padding: 0 1rem;
                }
                .hamburger{
                    display: none;
                    @media screen and (max-width: 48em) {
                        margin-top: 0.3rem;
                        display: inline;
                    }
                }
                .logo{
                    .logo-container{
                        display: flex;
                        i{
                            margin-top: 0.3rem;
                        }
                        p{
                            margin-left: 0.5rem;
                            @media screen and (max-width: 55em) {
                                display: none;
                            }
                        }
                    }
                    @media screen and (max-width: 48em) {
                        display: none;
                    }
                }
                .right-side{
                    display: flex;
                    align-items: center;
                    ul{
                        display: flex;
                        list-style: none;
                        margin: 0 2rem;
                        @media screen and (max-width: 48em) {
                            display: none;
                        }
                        li{
                            margin: 0 1rem;
                            cursor: pointer;
                            a{
                                text-decoration: none;
                                color: #5f5f5f;
                                &:hover{
                                    color:$color-gold;
                                }
                            }
                        }
                    }
                    select{
                        background-color: #e6dfdfc2;
                        border-radius: 2rem;
                        margin-top: 0.3rem;
                        padding: 0 0.3rem 0.5rem 0.85rem;
                        font-size: 1.2rem;
                    }
                }
            }
            .content{
                .left-side-background{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    background-color:rgb(8, 8, 8);
                    height: 100vh;
                    width: 60%;
                    padding: 5rem;
                    padding: 1rem;
                    clip-path: polygon(0 0, 95% 0, 75% 100%, 0 100%);
                    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(8, 8, 8, 0.945));
                    background-image: -moz-linear-gradient(to bottom, rgb(0, 0, 0), rgba(8, 8, 8, 0.945));
                    animation: polygonEffect 4.5s forwards;
                    @media screen and (max-width: 30em) {
                        padding: 5rem 1rem;
                    }

                    @keyframes polygonEffect{
                        0%{
                        width: 100%;
                        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                        }
                        50%{
                        width: 100%;
                        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                        }
                        100%{
                        width: 60%;
                        clip-path: polygon(0 0, 95% 0, 75% 100%, 0 100%);
                        }
                    }
                    @media screen and (max-width: 90em) {
                        @keyframes polygonEffect{
                            0%{
                                width: 100%;
                                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                            }
                            100%{
                                width: 100%;
                                clip-path: polygon(0 0, 70% 0, 60% 100%, 0 100%);
                            }
                        }
                    }
                    @media screen and (max-width: 48em) {
                        @keyframes polygonEffect{
                            0%{
                                width: 100%;
                                clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
                            }
                            100%{
                                width: 100%;
                                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                            }
                        }
                    }
                }
                .left-side{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    @media screen and (max-width: 48em) {
                        display: flex;
                        justify-content: center;
                    }

                    .title{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        line-height: 4.5rem;
                        height: 50vh;
                        margin-top: 20vh;
                        margin-left: 8vw;
                        @media screen and (max-width: 48em) {
                            margin-left: 0;
                        }
                        //82em = 1312px
                        //64em = 1024px 
                        @media screen and (min-width: 64em) and (min-height: 82em) {
                            line-height: 8rem;
                        }
                        //64em = 1024px
                        @media screen and (max-width: 48em) and (max-height: 64em) {
                            line-height: 6rem;
                        }
                        //57em = 900px
                        @media screen and (max-width: 48em) and (max-height: 57em) {
                            line-height: 5rem;
                        }
                        //50em = 800px
                        @media screen and (max-width: 48em) and (max-height: 50em) {
                            line-height: 4.5rem;
                        }
                        //44em = 704px
                        @media screen and (max-width: 48em) and (max-height: 44em) {
                            line-height: 4rem;
                        }
                        //38em = 608px
                        @media screen and (max-width: 48em) and (max-height: 38em) {
                            line-height: 3rem;
                        }
                        //480px = 30em
                        @media screen and (max-height: 30em){
                            line-height: 1.5rem;
                        }

                        //320px = 20em
                        //480px = 30em
                        //600px = 37.5em
                        //768px = 48em
                        //1024px = 64em
                        //1200px = 75em

                        p{
                            color: #e7e7e7;
                            font-size: clamp(0.5rem, calc(0.5rem + 2vw), 3.2rem);
                            font-family: "codesaver";
                            @media screen and (max-width: 30em) {
                                font-size: 1.2rem;
                            }
                            @media screen and (max-width: 22em) {
                                font-size: 0.9rem;
                            }
                        }
                        .title-1-open,
                        .title-1,
                        .title-1-close,
                        .title-2-open,
                        .title-2,
                        .title-2-close{
                            display: inline;
                        }
                    }
                }
            }
            .paragraph-welcome{
                position: absolute;
                top: 60%;
                // top: 60vh;
                bottom: 0;
                width: 100%;
                height: 30vh;
                text-align: center;
                padding: 0 1rem;
                font-family: "ailerons";
                font-size: clamp(2rem, calc(2rem + 8vw), 12rem);
                color: #80862d88;
                animation: welcomeEffect 6s forwards;
                @keyframes welcomeEffect{
                    0%{
                    top: 35%;
                    opacity: 0;
                    }
                    20%{
                    opacity: 0;
                    color: #bdc917;
                    }
                    80%{
                    top: 35%;
                    color: #bdc917;
                    }
                    100%{
                    width: 100%;
                    }
                }
                //41em = 656px
                @media screen and (min-width: 49em) and (max-height: 41em) {
                    top: 70%;
                }
                //48em = 768px
                @media screen and (max-width: 48em){
                    top: 60%;
                }
                //30em = 768px
                @media screen and (max-height: 30em){
                    top: 50%;
                    line-height: 5rem;
                }
            }
        }
    }

    main, footer{
        width: 100%;

        .about{
            width: 100%;
            padding: 5rem 0 7rem 0;
            display: grid;
            justify-content: center;
            grid-template-columns: 30% 30%;
            background-color: rgb(5, 5, 5);

            @media screen and (max-width: 87.5em) {
                grid-template-columns: 50% 50%;
            }
            @media screen and (max-width: 48em) {
                grid-template-columns: 100%;
            }

            .image{
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                @media screen and (max-width: 20em) {
                    overflow-x: hidden;
                }

                img{
                    width: 300px;
                    height: 490px;
                    border-radius: 5px;
                    opacity: 0.8;
                    box-shadow: 20px 20px rgba(128, 134, 45, 0.473), 40px 40px #80862d56;
                }
            }
            .description{
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: $gray-letters;
                opacity: 0;
                @media screen and (max-width: 48em) {
                    align-items: center;
                    margin-top: 3rem;
                }
                h2{
                    width: 70%;
                    font-size: 4rem;
                    @media screen and (max-width: 48em) {
                        width: 70%;
                        text-align: center;
                    }
                }
                p{
                    width: 80%;
                    font-size: clamp(1rem, calc(0.5rem + 1vw), 1.5rem);
                    font-family: 'Oswald', sans-serif;
                    @media screen and (max-width: 48em) {
                        width: 70%;
                        text-align: center;
                    }
                }
            }
        }
        .skills,
        .work,
        .webpage-age,
        .contact{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            background: linear-gradient(to left bottom, #060505ee, #090809ee, #0c0b0cee, #0e0e10ee, #101112f6, #141515ee, #181818f6, #1b1b1bf6, #212121f6, #262626f6, #2c2c2cf6, #323232f6), url("./assets/skills-bg.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;

            .skills-container, .work-container, .webpage-age-container, .contact-container{
                width: 80%;
                color: $gray-letters;
                opacity: 0;

                @media screen and (max-width: 64em){
                    width: 100%;
                }
                h2{
                    width: 100%;
                    text-align: center;
                    font-size: 4rem;
                }
                .underline{
                    margin: 1rem auto;
                    margin-bottom: 4rem;
                }
                .logos, .works{
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(3, 33%);
                    row-gap: 5rem;
                    justify-items: center;
                    justify-content: center;
                    padding-bottom: 6rem;

                    @media screen and (max-width: 30em){
                        grid-template-columns: repeat(2, 50%);
                    }
                    .logo, .work-photo{
                        width: 110px;
                        height: 110px;
                        transform: translateY(0px);

                        img{
                            width: 100%;
                            height: 100%;
                            filter: brightness(70%);
                            transition: 0.5s;
                            &:hover{
                                filter: grayscale(0%);
                                transition: 0.5s;
                                transform: scale(1.2);
                            }
                        }
                        p{
                            width: 100%;
                            text-align: center;
                            margin: 0.5rem 0;
                            font-size: 1.5rem;
                            transition: 0.5s;
                        }

                        &:hover .language-name{
                            filter: brightness(200%);
                            transition: 0.5s;
                            transform: scale(1.3) translateY(10px);

                        }
                    }
                }
            }
        }
        .skills{
            padding-bottom: 5rem;
            h2{
                margin-top: 10vh;
            }
        }
        .work{
            background-image: linear-gradient(to left bottom, #c8c8c8, #acacac, #909090, #767676, #5c5c5c);
            padding-bottom: 5rem;
            @media screen and (max-width: 75em) {
                padding-bottom: 0;
            }
            .work-container{
                margin-top: 1rem;
                margin-bottom: 6rem;
                @media screen and (max-width: 75em) {
                    margin-bottom: 0;
                }
                h2{
                    color:#232025;
                    width: 100%;
                    text-align: center;
                    font-size: 4rem;
                    margin-top: 10vh;
                }
                .underline{
                    background-color: #232025;
                }
                .works{
                    column-gap: 3rem;
                    @media screen and (max-width: 75em) {
                        grid-template-columns: 100%;
                        overflow-x: hidden;
                    }
                    .work-photo{
                        width: 18vw;
                        min-width: 300px;
                        height: 11vw;
                        min-height: 158px;
                        cursor: pointer;
                        @media screen and (max-width: 75em) {
                            width: auto;
                            height: auto;
                        }
                        img{
                            margin-bottom: 1rem;
                            @media screen and (max-width: 75em) {
                                min-width: 300px;
                                width: 50vw;
                                min-height: 170px;
                                height: 35vw;
                            }
                            &:hover{
                                transform: scale(1.1);
                            }
                        }
                        p{
                            width: 100%;
                            color:#232025;
                            font-size: 2rem;
                            padding: 0 0.3rem;
                            &:hover{
                                transform: translateY(0px);
                            }
                        }
                        i{
                            width:100%;
                            text-align: center;
                            color:#232025;
                            font-size: 2.5rem;
                            margin-top: 0.5rem;
                            transition: 0.5s;
                            &:hover{
                                transform: scale(1.2);
                                transition: 0.5s;
                            }
                        }
                    }
                }
            }
        }
        .webpage-age{
            background-image: linear-gradient(to left top, #0d0d0d, #171717, #1f1f1f, #272727, #303030);
            min-height: 60vh;
            .webpage-age-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                height: auto;
                @media screen and (max-width: 37.4em) {
                    margin-top: 3rem;
                }
                .underline{
                    margin: 1rem 0 0 0;
                }
                .counter{
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    gap: 1rem;
                    width: 60%;
                    margin-top: 2rem;
                    margin-bottom: 5rem;
                    @media screen and (max-width: 64em) {
                        width: 90%;
                    }
                    @media screen and (max-width: 37.4em) {
                        grid-template-columns: repeat(1, 1fr);
                    }
                    .number{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 6rem;

                        background-image: linear-gradient(to bottom, #5c601f, #626623, #676c27, #6d722b, #73782f, #7d823a, #868b44, #90954f, #a0a563, #b0b577, #c0c58b, #d1d5a0);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 1));
                    }
                    .text{
                        width: 100%;
                        text-align: center;
                        font-size: 1.5rem;
                        margin-top: 1rem;
                    }

                }
            }

        }
    }

    footer{
        .contact{
            min-height: 45vh;
            .contact-container{
                margin: 2rem 0;
                .contact-data{
                    span{
                        font-family: Tahoma;
                        font-size: clamp(0.8rem, calc(0.8rem + 2vw), 2.8rem);
                    }
                    h2{
                        margin-top: 1.5rem;
                        margin-bottom: 1.5rem;
                        font-size: clamp(1.8rem, calc(0.8rem + 2vw), 2.8rem);
                    }
                    .links{
                        width: 100%;
                        text-align: center;
                        margin:0.5rem 0;
                        a{
                            margin: 0 3rem;
                            font-size: clamp(2rem, calc(0.8rem + 2vw), 3rem);
                            color: $gray-letters;
                            &:hover{
                                filter: brightness(300%);
                            }
                            @media screen and (max-width: 30em) {
                                margin: 0 1rem;
                            }
                        }
                    }
                    .copyright{
                        width: 100%;
                        text-align: center;
                        margin-top: 2.5rem;
                        font-size: clamp(1rem, calc(0.5rem + 1vw), 1.3rem);
                        padding: 0 3rem;

                        .copyright-letter{
                            font-size: clamp(1rem, calc(0.5rem + 1vw), 1.3rem);

                        }
                        #author{
                            font-size: clamp(1rem, calc(0.5rem + 1vw), 1.3rem);
                            font-family: "ailerons";
                        }
                        a{
                            font-family: "hillonest";
                            font-size: 2.5rem;
                            text-decoration: none;
                            color: $color-gold;
                            color: rgb(0, 173, 121);
                            transition: 0.5s;
                            &:hover{
                                color: rgb(10, 218, 155);
                                filter: brightness(500%);
                                text-shadow: 0px 0px 30px rgb(10, 218, 155);
                                transition: 0.3s;
                            }
                        }
                        #autograph{
                            @media screen and (max-width: 37.5em) {
                                display: block;
                                margin-top: 3rem;
                            }
                        }
                    }
                }
                .underline{
                    margin-bottom: 2rem;
                }
            }
        }
    }

    .menuHamburger{
        display: none;
        // display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        // z-index: 100;
        background-color: rgb(2, 2, 2);
        scroll-behavior: none;
        ul{
            li{
                margin: 1rem 0;
                a{
                    display: block;
                    text-decoration: none;
                    color: $gray-letters;
                    text-align: center;
                    font-size: 4rem;
                }
            }
        }
    }
}

select{
    width: 130px;
    padding-top: 1.3rem;
    background: url("./assets/EN.png") no-repeat scroll 75px 2px;
    font-family: "ailerons";
    -moz-font-family: "ailerons";
}

@keyframes scroll-reveal{
    100%{
        opacity: 1;
    }
}

//Common breakpoints for widths of devices:

// 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets  (48em)
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV

//320px = 20em
//480px = 30em
//600px = 37.5em
//768px = 48em
//1024px = 64em
//1200px = 75em


