$time: 8s;
$color-gold: #80862d;
$gray-letters: #a5a5a5;

.underline{
    width: 50%;
    height: 2px;
    background-color: $gray-letters;
    margin: 1rem 0;
}

html{
    scroll-behavior: smooth;
    filter: brightness(120%);
}

body{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh auto 30vh;
    background-color: #1a1a1a;
    overflow-x: hidden; 
    margin: 0;       
    padding: 0;
    font-family: "ailerons";
    z-index: -20;

    header{
        img{
            position: fixed;
            top: 0;
            width: 100%;
            height: 100vh;
            filter: blur(3px);
            opacity: 0.8;
            z-index: -10;
            overflow: hidden;
            animation: blurEffect $time forwards;
        }

        @keyframes blurEffect{
            0%{
            filter: blur(15px);
            }
            75%{
                filter: blur(15px);
            }
            100%{
            filter: blur(0px);
            }
        }

        .home{
            nav{
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: absolute;
                left: 0;
                height: 10vh;
                width: 100%;
                padding: 0 3.5rem;
                font-size: 1.5rem;
                background-color: transparent;
                color: gray;
                z-index: 100;
                transition: 0.5s;
                animation: navbarEffect 6s forwards;

                @keyframes navbarEffect{
                    0%{
                        opacity: 0;
                    }
                    85%{
                        opacity: 0;
                    }
                    100%{
                    }
                } 
                
                .logo{

                }
                
                .right-side{
                    display: flex;
                    align-items: center;
                    ul{
                        display: flex;
                        list-style: none;
                        margin: 0 2rem;
                        li{
                            margin: 0 1rem;
                            cursor: pointer;
                            a{
                                text-decoration: none;
                                color: #5f5f5f;
                                &:hover{
                                    color:$color-gold;
                                }
                            }
                        }
                    }
                    select{
                        background-color: #e6dfdfc2;
                        border-radius: 2rem;
                        margin-top: 0.3rem;
                        padding: 0 0.3rem 0.5rem 0.85rem;
                        font-size: 1.2rem;
                    }
                }
            }
            .content{
                .left-side{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    background-color:rgb(8, 8, 8);
                    height: 100vh;
                    width: 60%;
                    padding: 5rem;
                    clip-path: polygon(0 0, 95% 0, 75% 100%, 0 100%);
                    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(8, 8, 8, 0.945));
                    animation: polygonEffect 4.5s forwards;

                    @keyframes polygonEffect{
                        0%{
                        width: 100%;
                        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                        }
                        50%{
                        width: 100%;
                        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                        }
                        100%{
                        width: 60%;
                        clip-path: polygon(0 0, 95% 0, 75% 100%, 0 100%);
                        }
                    }

                    .title{
                        margin-top: 8rem;
                        margin-right: 6rem;
                        line-height: 4.5rem;
                        p{
                            color: #e7e7e7;
                            font-size: 3.2rem;
                            font-family: "codesaver";
                        }
                        .title-1-open,
                        .title-1,
                        .title-1-close,
                        .title-2-open,
                        .title-2,
                        .title-2-close{
                            display: inline;
                        }
                       
                    }    
                }
            }
            .paragraph-welcome{
                position: absolute;
                top: 60%;
                width: 100%;
                text-align: center;
                z-index: 20;
                font-family: "ailerons";
                font-size: 12rem;
                color: #80862d88;
                animation: welcomeEffect 6s forwards;
                @keyframes welcomeEffect{
                    0%{
                    top: 30%;
                    opacity: 0;
                    }
                    20%{
                    opacity: 0;
                    color: #bdc917;
                    }
                    80%{
                    top: 30%;
                    color: #bdc917;
                    }
                    100%{
                    width: 100%;
                    }
                }    
            }
        }
    }
    
    main, footer{
        width: 100%;

        .about{
            width: 100%;
            height: 90vh;
            display: grid;
            justify-content: center;
            grid-template-columns: 30% 30%;
            background-color: rgb(5, 5, 5);

            .image{
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;

                img{
                    width: 60%;
                    height: 58%;
                    border-radius: 5px;
                    opacity: 0.8;
                    box-shadow: 20px 20px rgba(128, 134, 45, 0.473), 40px 40px #80862d56;
                }
            }
            .description{
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: $gray-letters;
                opacity: 0;
                h2{  
                    width: 70%;
                    font-size: 4rem;
                }
                p{
                    width: 80%;
                    font-size: 1.4rem;
                }
            }
        }
        .skills,
        .work,
        .webpage-age,
        .contact{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: linear-gradient(to left bottom, #060505ee, #090809ee, #0c0b0cee, #0e0e10ee, #101112f6, #141515ee, #181818f6, #1b1b1bf6, #212121f6, #262626f6, #2c2c2cf6, #323232f6), url("../assets/skills-bg.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;

            .skills-container, .work-container, .webpage-age-container, .contact-container{
                width: 80%;
                height: 85%;
                color: $gray-letters;
                opacity: 0;
                h2{
                    width: 100%;
                    text-align: center;
                    font-size: 4rem;
                }
                .underline{
                    margin: 1rem auto;
                    margin-bottom: 4rem;
                }
                .logos, .works{
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(3, 33%);
                    grid-template-columns: repeat(3, 25%);
                    row-gap: 2.5rem;
                    justify-items: center;
                    justify-content: center;
                    .logo, .work-photo{
                        width: 30%;
                        height: 75%;
                        transform: translateY(0px);

                        img{
                            width: 100%;
                            height: 100%;
                            filter: brightness(70%);
                            transition: 0.5s;
                            &:hover{
                                filter: grayscale(0%);
                                transition: 0.5s;
                                transform: scale(1.2); 
                            }
                        }
                        p{
                            width: 100%;
                            text-align: center;
                            margin: 0.5rem 0;
                            font-size: 1.5rem;
                            transition: 0.5s;
                        }

                        &:hover .language-name{
                            filter: brightness(200%);
                            transition: 0.5s;
                            transform: scale(1.3) translateY(10px);

                        }
                    }
                    .logo:nth-child(1),
                    .logo:nth-child(4){
                        img{
                            width: 107%;
                            height: 96%;
                        }
                    }
                    .logo:nth-child(3){
                        img{
                            width: 105%;
                            height: 100%;
                        }
                    }
                }
            }
        }
        .skills{
            h2{
                margin-top: 2rem;
            }
        }
        .work{
            height: 80vh;
            background-image: linear-gradient(to left bottom, #c8c8c8, #acacac, #909090, #767676, #5c5c5c);
            .work-container{
                margin-top: 1rem;
                h2{
                    color:#232025;
                    width: 100%;
                    text-align: center;
                    font-size: 4rem;
                    margin-top: 2rem;
                }
                .underline{
                    background-color: #232025;
                }
                .works{
                    column-gap: 3rem;
                    .work-photo{
                        width: 95%;
                        height: 60%;
                        cursor: pointer;
                        img{
                            margin-bottom: 1rem;
                            &:hover{
                                transform: scale(1.1);
                            }
                        }
                        p{  
                            width: 100%;
                            color:#232025;
                            font-size: 2rem;
                            &:hover{
                                transform: translateY(0px);
                            }
                        }  
                        i{
                            width:100%;
                            text-align: center;
                            color:#232025;
                            font-size: 2.5rem;
                            margin-top: 0.5rem;
                            transition: 0.5s;
                            &:hover{
                                transform: scale(1.2);
                                transition: 0.5s;
                            }
                        }  
                    }
                }
            }
        }
        .webpage-age{
            background-image: linear-gradient(to left top, #0d0d0d, #171717, #1f1f1f, #272727, #303030);
            height: 60vh;
            .webpage-age-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                height: auto;
                .underline{
                    margin: 1rem 0 0 0;
                }
                .counter{
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    gap: 1rem;
                    height:30vh;
                    width: 60%;
                    .number{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 6rem;

                        background-image: linear-gradient(to bottom, #5c601f, #626623, #676c27, #6d722b, #73782f, #7d823a, #868b44, #90954f, #a0a563, #b0b577, #c0c58b, #d1d5a0);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 1));  
                    }
                    .text{
                        width: 100%;
                        text-align: center;
                        font-size: 1.5rem;
                    }

                }
            }
         
        }
    }

    
    footer{
        .contact{
            height: 47vh;
            .contact-container{
                .contact-data{
                    position: relative;
                    top: -40px;
                    span{
                        font-family: Tahoma;
                        font-size: 2.8rem;
                    }
                    h2{
                        margin: 1.5rem;
                        margin-top: 5.5rem;
                        font-size: 2.8rem;
                    }
                    .links{
                        width: 100%;
                        text-align: center;
                        margin:0.5rem 0;
                        a{
                            margin: 0 3rem;
                            font-size: 3rem;
                            color: $gray-letters;
                            &:hover{
                                filter: brightness(300%);
                            }
                        }
                    }
                    .copyright{
                        width: 100%;
                        text-align: center;
                        margin-top: 3rem;
                        font-size: 1.3rem;
                        .copyright-letter{
                            font-size: 1.3rem;
                        }
                        #author{
                            font-size: 1.3rem;
                            font-family: "ailerons";
                        }
                        a{  
                            font-family: "hillonest";
                            font-size: 2.5rem;
                            text-decoration: none;
                            color: $color-gold;
                            color: rgb(0, 173, 121);
                            transition: 0.5s;
                            &:hover{
                                color: rgb(10, 218, 155);
                                filter: brightness(500%);
                                text-shadow: 0px 0px 30px rgb(10, 218, 155);
                                transition: 0.3s;
                            }
                        }
                    }
                }
            }
        }
    }

}

select{
    width: 130px;
    padding-top: 1.3rem;
    background: url("../assets/EN.png") no-repeat scroll 75px 2px;
}

@keyframes scroll-reveal{
    100%{
        opacity: 1;
    }
}

//Common breakpoints for widths of devices:

// 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV


